name: ci-lint

on:
  push:
    branches: [ master, main ]
  pull_request:
  workflow_call:

jobs:
  lint-linux:
    name: Lint sources
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Yaml lint
      run: |
        sudo apt-get install yamllint
        yamllint cimas-config/
    - name: Shellcheck lint
      run: |
        if stat -t *.sh >/dev/null 2>&1
        then
          sudo apt-get install shellcheck
          shellcheck *.sh
        else
          echo "No shell scripts files found"
        fi

