name: generate

on:
  workflow_call:

jobs:
  build:
    name: Compile Metanorma site
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        token: ${{ github.token }}
        submodules: true

    - uses: actions/cache@v4
      with:
        path: ~/.fontist
        key: fontist-ubuntu-latest
        restore-keys: fontist-ubuntu-latest

    - uses: actions-mn/setup@main

    - run: metanorma site generate --agree-to-terms

    - uses: actions/upload-artifact@v4
      if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main'
      with:
        name: site
        path: _site

  release:
    name: Release package
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: site

    - name: Display structure of downloaded files
      run: ls -R

    - name: Compress files
      run: zip -9 -r package.zip ./*

    - name: Upload release
      id: upload-release-asset
      uses: softprops/action-gh-release@v1
      with:
        body: Automatic release of ${{ github.ref }}
        files: |
          package.zip
