name: rake

on:
  workflow_call:
    inputs:
      tests-passed-event:
        description: Name of event sent with repository-dispatch after rake tests are passed successfully
        default: 'tests-passed'
        type: string
      release-event:
        description: Name of event sent to initiate release
        default: 'do-release'
        type: string
      before-setup-ruby:
        description: Command to execute before setting up Ruby
        type: string
        default: ''
        required: false
      after-setup-ruby:
        description: Command to execute after setting up Ruby
        type: string
        default: ''
        required: false
    secrets:
      pat_token:
        required: false

jobs:
  prepare:
    uses: metanorma/ci/.github/workflows/prepare-rake.yml@main

  rake:
    name: Test on Ruby ${{ matrix.ruby.version }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    needs: prepare
    if: needs.prepare.outputs.push-for-tag != 'true'

    concurrency:
      group: '${{ github.workflow }}-${{ matrix.os }}-${{ matrix.ruby.version }}-${{ github.head_ref || github.ref_name }}'
      cancel-in-progress: true

    continue-on-error: ${{ matrix.ruby.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - if: matrix.os == 'windows-latest'
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - if: ${{ inputs.before-setup-ruby != '' }}
        run: ${{ inputs.before-setup-ruby }}

      - name: Remove MSYS2 if exists (Windows)
        if: runner.os == 'windows-latest'
        run: |
          if (Test-Path "C:\hostedtoolcache\windows\Ruby\3.1.7\x64\msys64") {
            Write-Host "Removing msys64 directory to avoid conflicts..."
            Remove-Item -Recurse -Force "C:\hostedtoolcache\windows\Ruby\3.1.7\x64\msys64"
          }
        shell: pwsh

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby.version }}
          bundler-cache: true
          rubygems: ${{ matrix.ruby.rubygems }}
          bundler: ${{ matrix.ruby.bundler }}

      - if: ${{ inputs.after-setup-ruby != '' }}
        run: ${{ inputs.after-setup-ruby }}

      - run: bundle exec rake

      # - if: needs.prepare.outputs.public == 'true' && matrix.os == 'ubuntu-latest' && matrix.ruby.version == needs.prepare.outputs.default-ruby-version
      #   uses: codecov/codecov-action@v4
      #   with:
      #     file: coverage/.resultset.json

  tests-passed:
    needs: rake
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@v3
        name: Tests passed
        with:
          token: ${{ secrets.pat_token || github.token }}
          repository: ${{ github.repository }}
          event-type: ${{ inputs.tests-passed-event }}
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "type": "${{ inputs.tests-passed-event }}"}'

      - if: startsWith(github.ref, 'refs/tags/v')
        name: Repository ready for release
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.pat_token || github.token }}
          repository: ${{ github.repository }}
          event-type: ${{ inputs.release-event }}
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "type": "${{ inputs.release-event }}"}'
