name: make

on:
  workflow_call:

jobs:
  prepare:
    uses: metanorma/ci/.github/workflows/prepare-rake.yml@main

  make:
    name: Test on LutaML ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    needs: prepare
    if: needs.prepare.outputs.push-for-tag != 'true'

    concurrency:
      group: '${{ github.workflow }}-${{ matrix.os }}-${{ github.head_ref || github.ref_name }}'
      cancel-in-progress: true

    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(needs.prepare.outputs.matrix).os }}

    steps:
      - uses: actions/checkout@v6

      - if: runner.os == 'Windows'
        uses: metanorma/ci/choco-cache-action@main

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ needs.prepare.outputs.default-ruby-version }}
          bundler-cache: true

      - run: bundle exec make clean all
