name: docker

on:
  workflow_call:
    inputs:
      docker-image:
        default: 'metanorma/metanorma:latest'
        required: false
        type: string
      private-fonts:
        default: 'false'
        required: false
        type: string
      deploy-gh-pages:
        default: 'true'
        required: false
        type: string
    secrets:
      pat_username:
        required: false
      pat_token:
        required: false

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      deploy-gh-pages: ${{ steps.build-and-publish.outputs.gh-pages-enabled }}
    container:
      image: ${{ inputs.docker-image }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.pat_token || github.token }}
          submodules: true

      - if: ${{ inputs.private-fonts == 'true' }}
        run: |
          fontist update
          fontist repo setup metanorma https://metanorma-ci:${{ secrets.pat_token }}@github.com/metanorma/fontist-formulas-private
          fontist repo update metanorma

      - uses: metanorma/ci/gh-rubygems-setup-action@main
        with:
          token: ${{ secrets.pat_token }}

      - uses: metanorma/ci/docker-gem-install@main

      - id: build-and-publish
        uses: actions-mn/build-and-publish@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          agree-to-terms: true

  deploy-gh-pages:
    if: ${{ needs.build.deploy-gh-pages == 'true' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main') }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
