name: docker

on:
  workflow_call:
    inputs:
      docker-tag:
        default: 'latest'
        required: false
        type: string
    secrets:
      pat_token:
        required: false

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: build-matrix
        run: echo "matrix=$(cat .github/workflows/matrix.json | tr '\n' ' ')" >> $GITHUB_OUTPUT

  generate:
    runs-on: ubuntu-latest
    concurrency:
      group: '${{ github.workflow }}-${{ matrix.type }}-${{ matrix.doctype }}-${{ github.head_ref || github.ref_name }}'
      cancel-in-progress: true
    container:
      image: metanorma/mn:${{ inputs.docker-tag }}
    continue-on-error: ${{ matrix.experimental }}
    needs: build-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.pat_token || github.token }}
          submodules: true

      - uses: metanorma/ci/gh-rubygems-setup-action@main
        with:
          token: ${{ secrets.pat_token }}

      - uses: metanorma/ci/docker-gem-install@main

      - uses: actions/cache@v3
        with:
          path: /config/fonts
          key: fontist-${{ runner.os }}
          restore-keys: fontist-${{ runner.os }}

      - uses: metanorma/ci/docker-gem-install@main

      - uses: actions-mn/cli/new@main
        with:
          type: ${{ matrix.type }}
          doctype: ${{ matrix.doctype }}
          output-path: test/${{ matrix.doctype }}
          template: '.'
          overwrite: true

      - if: hashFiles(format('test/{0}/metanorma.yml', matrix.doctype )) == ''
        run: |
          cat << 'EOF' > test/${{ matrix.doctype }}/metanorma.yml
          metanorma:
            source:
              files:
                - document.adoc
          EOF

      - run: cat test/${{ matrix.doctype }}/metanorma.yml

      - uses: actions-mn/site-gen@main
        with:
          source-path: test/${{ matrix.doctype }}
          config-file: test/${{ matrix.doctype }}/metanorma.yml
          agree-to-terms: true
